#link_form {
    grid-area: link_frm;
    padding: 5px;
}

#tags_form {
    grid-area: tags_frm;

    padding: 5px;
}

#search_form {
    grid-area: search_frm;

    padding: 5px;
}

#tags_filter {
    grid-area: tags_filter;

    height: 100%;
    padding: 5px;

    overflow-y: auto;
}

#links_list_container {
    grid-area: links_list_container;

    height: 100%;
    padding: 5px;

    overflow-y: auto;
}

#page_content {
    width: 100vw;
    height: 100vh;

    display: grid;

    grid-template-columns: 400px auto;
    grid-template-rows: auto auto auto 1fr ;

    grid-template-areas:
        "link_frm links_list_container"
        "tags_frm links_list_container"
        "search_frm links_list_container"
        "tags_filter links_list_container";
}
